<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ******************** CHAVES DO LOGGER ********************-->
    <add key="Logger.Ativo" value="true" />
    <add key="Logger.DiretorioDeGravacao" value="C:\Logs\Ecommerce\" />
    <add key="Logger.PeriodoDeArmazenagem" value="7" />
    <add key="Logger.NomeDaAplicacao" value="TesteLogger" />
    <add key="Logger.GravarLogExclusivo" value="" />
    <add key="Logger.TamanhoLimiteDoArquivo" value="" />
    <!-- ******************** FIM - CHAVES DO LOGGER ********************-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoggerWriter" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:39442/LoggerWriter.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoggerWriter" contract="WS.ILoggerWriter"
        name="BasicHttpBinding_ILoggerWriter" />
    </client>
  </system.serviceModel>
</configuration>