<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <add key="Logger.Ativo" value="true"/>
    <add key="Logger.DiretorioDeGravacao" value="C:\Logs\WSLogger\"/>
    <add key="Logger.PeriodoDeArmazenagem" value="7"/>
    <add key="Logger.NomeDaAplicacao" value="WSLogger"/>
    <add key="Logger.GravarLogExclusivo" value=""/>
    <add key="Logger.TamanhoLimiteDoArquivo" value=""/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="LoggerWcf.LoggerWriter">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49578/LoggerWcf/LoggerWriter/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="WebHttpBehavior" contract="LoggerWcf.ILoggerWriter" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <!--<serviceBehaviors>
        <behavior>
          --><!-- Para evitar a divulgação de informações de metadados, defina os valores abaixo para falso antes da implantação --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- Para receber detalhes de exceção em falhas para fins de depuração, defina o valor abaixo para verdadeiro. Defina para falto antes da implantação para evitar a divulgação de informações de exceção --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>-->
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="~/LoggerWriter.svc" service="LoggerWcf.LoggerWriter"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para procurar o diretório de raiz do aplicativo Web durante a depuração, defina o valor abaixo para verdadeiro.
        Defina-o para falso antes da implantação para evitar a divulgação de informações da pasta do aplicativo Web.
-->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
